<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Home Page</title>

    <!-- Import Styles -->
    <link rel="stylesheet" href="style.css">

    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    <div id="app">
        <h1>Welcome Coach Derek</h1>

        <h1>Upcoming Match</h1>
        <div class = tile-container>
            <div class = tile-upcoming-match>
                {{upcomingMatch}}
            </div>
        </div>

        <!-- Past Matches Heading -->
        <h1>Past Matches</h1>

        <div class = tile-container>
            <ul>
                <li v-for="match in pastMatches">
                    <div class = tile-past-match>
                        <span>{{ match.opponent }}</span>
                        <span>{{ match.score }}</span>
                        <span>{{ match.date }}</span>
                    </div>
    
                </li>
            </ul>
        </div>

        <!-- Roster Heading -->
        <h1>Roster</h1>
        
        <div class = tile-container>
            <ul>
                <li v-for="player in roster">
                    <div class = tile-roster>
                        <h2>{{ player.name }}</h2>
                        <p>Team: {{ school }}</p>
                        <p>Position: #{{ player.position }}</p>
                    </div>
                </li>
            </div>
            </ul>
        </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
     <script>
        const mountedapp = app.mount('#app');
     </script>

</body>
</html>